<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <!-- // <script src="static/d3.js"></script> -->
        <script src="static/d3.min.js"></script>
         <link rel="stylesheet" type="text/css" href="static/todo.css" />
    </head>
    <body>
        <header id="status">
            <span id="comms_span">
                <label id="comms" >Todo status</label>
            </span>
            <span id="buttons_span">
                <input type="text" value="sample text">
                <input type="button" id="new_button" value="Add New" onclick="todo.add_new()"/>
            </span>
        </header>
        <div id="todo_div" width="90%">
            <!--
            _done: false
            _priority: "C"
            completion_date: "None"
            context: "None"
            creation_date: "2013-06-25"
            gui_index: "None"
            project: "tdg"
            task: "Color code by project +tdg
-->
        </div>
        <script src="static/td.js"></script>
    </body>
</html>