<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <style type="text/css">
            body {
                font-family:  Arial, Verdana, sans-serif;
            }
            .myhighlight {
                background-color: gray;
                color: white;
            }
            .plain {

            }

        </style>
    </head>
    <body>
            <div id="outer">
                <p id="comms" >Todo status</p>
            </div>
            <div id="todo_div" >
            <!--
            _done: false
_priority: "C"
completion_date: "None"
context: "None"
creation_date: "2013-06-25"
gui_index: "None"
project: "tdg"
task: "Color code by project +tdg
-->

            </div>
            <script type="text/javascript">
                            var todo_data = {{ td_data|tojson|safe }};</script>
            <script src="static/td.js"></script>
    </body>
</html>